<span id="badform-<%= @micropost.id %>" class="reaction-form">
  <% if @micropost.bad?(current_user) %>
    <%= form_for(@micropost.bads.find_by(user_id: current_user.id), method: :delete, remote: true) do |f| %>
      <%= button_tag(class: "btn btn-default btn-xs  icon-only") do %>
        <%= image_tag "icon/hand-thumbs-down-fill" %>
      <% end %>
    <% end %>
  <% else %>
    <%= form_for(@micropost.bads.build, remote: true) do |f| %>
      <div><%= hidden_field_tag :micropost_id, @micropost.id %></div>
      <%= button_tag(class: "btn btn-default btn-xs icon-only") do %>
        <%= image_tag "icon/hand-thumbs-down" %>
      <% end %>
    <% end %>
  <% end %>
  <%= link_to @micropost.bads.count.to_s, root_url, data: { turbo_frame: "modal" } %>

</span>
