<%= form_tag(url_for(:action => 'index'), :remote => true) do |f| %>
  <%= f.select :search_type,  options_from_collection_for_select(SearchType.all, :search_type_id, :search_type_content), class: 'form-select'  %>
  <%= f.text_field :search_content, placeholder: "Search micropost...",  class: 'form-control form-control-sm' %>
  <%= f.submit "Search", class: "btn btn-primary" %>
<% end %>
<div class="col-md-8" id="microposts_list" >
  <h3>Micropost Feed</h3>
  <% if @feed_items.any? %>
  <ol class="microposts">
    <%= render @feed_items %>
  </ol>
  <%= will_paginate @feed_items,
                    params: { controller: :static_pages, action: :home } %>
  <% end %>
</div>