<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
    <%= render 'mute_form' if logged_in? %>

    <% if @personal_feed_items.any? %>
      <h3>Microposts (<%= @personal_feed_items.count %>)</h3>
      <ol class="microposts">
        <%= render @personal_feed_items %>
      </ol>
      <%= will_paginate @personal_feed_items %>
    <% end %>
  </div>
</div>