<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="col-md-8">
    # 一度turbo関連の機能を隠す。
    <%#= render 'follow_form' if logged_in? %>
    <%#= render 'mute_form' if logged_in? %>
    <% if current_user.muting?(@user) %>
      <h3>You are muting this User</h3>
    <% else %>
      <% if @personal_feed_items.any? %>
        <h3>Microposts (<%= @personal_feed_items.count %>)</h3>
        <ol class="microposts">
          <%= render @personal_feed_items %>
        </ol>
        <%= will_paginate @personal_feed_items %>
      <% end %>
    <% end %>
  </div>
</div>